$primary:#0F4576; /*titulos*/
$secondary: #C0272D; /*destacados rojo*/
$acento: #326E9F; /*destacado azul*/
$bg-light:#ECECEC;
$tipo-claro: #EDEDED;
$gris:#EEF1F5;
$gris-10:#F4F4F4;
$gris-20:#CBCBCB;
$tipo-cuerpo: #676767;